# Dependencias
node_modules/

# Compilación
dist/

# Variables de entorno con claves secretas
.env
.env.production

# Logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Storetsconfig.build.tsbuildinfo
tsconfig.build.tsbuildinfo
